@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$primary-color: #3399ff;
$primary-font: "Roboto", sans-sherif;
.products__container {
  font-family: $primary-font;
  overflow: hidden;
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
  overflow: auto;
  position: relative;
  text-align: left;
  .products__header {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0.3em;
  }

  .products__subheader {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0.3em;
  }
}

.products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1em;
  overflow: hidden;

  .item {
    display: block;
    position: relative;
    align-items: center;
    img {
      position: relative;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .test2 {
      position: relative;
      width: 100%;
    }

    .test2 h1 {
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
      font-size: 1.5em;
      text-transform: uppercase;
      font-family: sans-serif;
      text-align: left;
      padding: 20px;
      width: 100%;
      bottom: 1%;
      position: absolute;
    }
  }
}

@media only screen and (min-width: 1183px) {
  .products__container {
    padding-right: 15em;
    padding-left: 15em;
    margin-top: 2.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .products {
    grid-template-columns: repeat(2, minmax(19rem, 1fr));
  }

  .item1 {
    grid-row: 1/4;
    grid-column: 1/2;
  }
}
