@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$primary-font: "Roboto", sans-sherif;
footer {
  background-color: #696969;
  padding: 1em 2em 2em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;

  .company__info {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    span {
      font-weight: normal;
    }
  }

  .copyright {
    color: white;
    margin-left: 0.5em;
  }
}
