@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$primary-color: #3399ff;
$primary-font: "Roboto", sans-sherif;
.content__container {
  font-family: $primary-font;
  overflow: hidden;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  overflow: hidden;
  line-height: 2em;
}

.content__grid {
  display: flex;
  flex-direction: column;
}

.welcome {
  background-color: $primary-color;
  padding: 2em;
  color: white;
  display: flex;
  flex-direction: column;
  .card__rectangle {
    height: 0.5em;
    width: 5em;
    background-color: white;
    margin-bottom: 2em;
  }
  .card__header {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 0.5em;
  }
  .card__content {
    font-size: 1.3em;
    line-height: 25px;
  }
}

.grid__item {
  flex: 100%;
  margin-bottom: 1em;
}
.grid__item1 {
  flex: 100%;
}

.card_button_wrapper {
  display: flex;
  margin-top: 1em;
  padding: 0.5em;
  justify-content: flex-end;

  .card__button {
    box-shadow: none;
    border: 3.5px solid white;
    font-size: 1.2em;
    background-color: #66b2ff;
    padding: 0.3em;
    outline: none;
    color: white;
    text-transform: uppercase;
  }
}

.ui__ux {
  background-color: #d3d3d3;
  overflow: hidden;
  .ui__header {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0;
  }
  .ui__content {
    font-size: 1.3em;
    line-height: 25px;
    padding: 1.5em;
    line-height: 25px;
    p {
      padding: 0;
      margin-bottom: 0.8em;
    }
  }
  // this is not very well written, but it works.
  .ui__img {
    img {
      height: 15em;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 1189px) {
  .content__container {
    padding-right: 15em;
    padding-left: 15em;
    margin-left: 0;
  }
  .content__grid {
    flex-direction: row;
    .grid__item {
      grid-column: span 1;
    }
  }
  .welcome {
    grid-column: span 1;
    height: 100%;
    grid-row: 1/2;
    .card__button {
      margin-top: 0;
    }
  }
  .ui__ux {
    width: 100%;
    height: auto;

    img {
      height: auto;
      width: 100%;
    }
  }

  .grid__item {
    flex: 40%;
    margin: 0 1em 0 0;
  }
  .grid__item1 {
    flex: 80%;
  }
}
